version: '3'

services:
  db:
    image: mysql:5.7
    volumes:
      - "../db:/var/lib/mysql"
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: {{ lookup('env', 'DATABASE_ROOT_PASSWORD') }}
      MYSQL_DATABASE: {{ lookup('env', 'DATABASE_NAME') }}
      MYSQL_USER: {{ lookup('env', 'DATABASE_USERNAME') }}
      MYSQL_PASSWORD: {{ lookup('env', 'DATABASE_PASSWORD') }}

  wordpress:
    depends_on:
      - db
    image: wordpress:latest
    volumes:
      - "../html:/var/www/html"
    ports:
      - "80:80"
    restart: always
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_NAME: {{ lookup('env', 'DATABASE_NAME') }}
      WORDPRESS_DB_USER: {{ lookup('env', 'DATABASE_USERNAME') }}
      WORDPRESS_DB_PASSWORD: {{ lookup('env', 'DATABASE_PASSWORD') }}